@model CreateMemoViewModel
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Create Memo</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form method="post" id="modalForm" asp-action="Create" asp-controller="Memo">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note"></label>
                        <textarea asp-for="Note" row="5" class="form-control"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags"></label>
                        <input asp-for="Tags" class="form-control" />
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="submitButton">Submit</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<script>
    onload = event => {
        $("#submitButton").click(function () {
            var formdata = $("#modalForm").serialize();
            $.ajax({
                type: "POST",
                url: "/Memo/Create",
                data: formdata,
                success: function () {
                    $('#createModal').hide();
                }

            });
        });
    
    };
</script>